
<header th:fragment="connected">
	<h3>Webflix</h3>
	<nav>
		<div>
			<ul>
				<li>Accueil</li>
				<li>Nos Films</li>
				<li>Nos Catégories</li>
			</ul>
		</div>
		<div>
			<ul>
				<li>Recherche</li>
				<li>
					<a th:unless="${session.userEmail}" th:href="@{/sign-in}">Connexion</a>
					<span th:if="${session.userEmail}" th:text="${session.userUsername}"></span>
				</li>
				<li>
					<a th:unless="${session.userEmail}" th:href="@{/sign-up}">Inscription</a>
					<a th:if="${session.userEmail}" th:href="@{/logout}">Se déconnecter</a>
				</li>
			</ul>
		</div>
	</nav>
</header>


<header th:fragment="disconnected">
	<ul>
		<li>Connecte toi</li>
	</ul>
</header>