<div>
    <h1 th:text="#{page.movie.add.title}">Ajouter un film</h1>
</div>

<form action="">
    <div>
        <div><label for=""></label></div>
        <input type="text" name="" id=""></div>
    <div>
        <div><label for=""></label></div>
        <input type="text" name="" id=""></div>
    <div>
        <div><label for=""></label></div>
        <input type="text" name="" id=""></div>
    <div>
        <div><label for=""></label></div>
        <input type="text" name="" id=""></div>
    <div>
        <div><label for=""></label></div>
        <input type="text" name="" id=""></div>
    <div>
        <div><label for=""></label></div>
        <input type="text" name="" id=""></div>
    <div>
        <div><label for=""></label></div>
        <input type="text" name="" id=""></div>
</form>