<div>
	<h1 th:text="#{page.movie.add.title}"></h1>
</div>

<form th:action="@{/admin/movie}" method="post" th:object="${movie}" enctype="multipart/form-data">
	<div>
		<div>
			<label th:for="title">Titre</label>
		</div>
		<input type="text" th:field="*{title}">
	</div>
	<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
	<div>
		<div>
			<label th:for="description">Description</label>
		</div>
		<textarea th:field="*{description}" cols="30" rows="10">
        </textarea>
	</div>
	<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
	<div>
		<div>
			<label th:for="file">Couverture du film</label>
		</div>
		<input type="file" accept="image/*" name="file" id="file">
	</div>
	<span th:if="${fileError}" th:text="#{${fileError}}"></span>
	<div>
		<div>
			<label th:for="duration">Durée du film</label>
		</div>
		<input type="number" min="0" th:field="*{duration}">
	</div>
	<span th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></span>
	<div>
		<div>
			<label th:for="releaseDate">Date de sortie</label>
		</div>
		<input type="date" th:field="*{releaseDate}">
	</div>
	<span th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}"></span>
	<div>
		<button type="submit">Ajouter</button>
	</div>
</form>